@media only screen and (max-width:1400px){
    h2{
        width:100%;
        text-align: center;
        font-size: 65px;   
    } 
    .subtitle{
        font-size:60px;
    
        
    } 
    .button1{
        text-align: center;
        align-items: center;
        left: 43%;
        font-size: 30px;

    }
    .para{
        width: 54rem;
    }
      .section2{
          height: 75vh;
      }
      .img1{
        width: 20rem;
    }
        
        
          
    
}
@media only screen and (max-width:1200px){

    h2{
        width:100%;
        text-align: center;
        font-size: 60px;   
    } 
    .subtitle{
        font-size:50px;
    
        
    } 
    .para{
        width: 43rem;
    }
    .button1{
        text-align: center;
        align-items: center;
        left: 40%;
        font-size: 27px;

    }
    .frame,.frame1{
        width:13rem;
  
      }
      .section2{
        height: 100vh;
    }
    .img1{
        width: 17rem;
    }
        
    

}
@media only screen and (max-width:1000px){
    h2{
        width:100%;
        text-align: center;
        color: rgb(2, 53, 97);
        font-size: 50px;
        padding: 2rem;
        
    } 
    .subtitle{
        font-size:40px; 
        padding: 2rem;  
    } 
    .button1{
        text-align: center;
        align-items: center;
        left: 40%;
        font-size: 27px;
    }
    .para{
        width: 33rem;
    }
      .section2{
        height: 100vh;
    }
    .img1{
        width: 16rem;
    }
      
        
   
    
    

}
@media only screen and (max-width:850px){
    h2{
        width:100%;
        text-align: center;
        color: rgb(2, 53, 97);
        font-size: 50px;
        padding: 2rem;
        
    } 
    .subtitle{
        font-size:40px; 
        padding: 2rem;  
    } 
    .button1{
        text-align: center;
        align-items: center;
        left: 40%;
        font-size: 25px;
    }
    .para{
        width: 30rem;
    }
      .section2{
        height: 105vh;
    }
    .img1{
        width: 15rem;
    }
      
       
    
}
@media only screen and (max-width:767px){
    .button1{
        text-align: center;
        align-items: center;
        left: 38%;
        font-size: 23px;
        
    }
    h2{
        width:100%;
        text-align: center;
        color: aliceblue;
        font-size: 40px;
        
        
    } 
    .subtitle{
        font-size:30px;
    
        
    } 
    .para{
        width: 20rem;
    }
      .section2{
        height: 130vh;
    }
      
     
        
   
}
@media only screen and (max-width:600px){
    .button1{
        text-align: center;
        align-items: center;
        left: 38%;
        font-size: 21px;
        
    }
    h2{
        width:100%;
        text-align: center;
        color: aliceblue;
        font-size: 40px;
        
        
    } 
    .subtitle{
        font-size:30px;
    
        
    }
     
    .para{
        width: 20rem;
    }
      .section2{
        height: 135vh;
    }
}

@media only screen and (max-width:480px){
     
    .button1{
        text-align: center;
        align-items: center;
        left: 36%;
        font-size: 18px;
        
    }
    .img1{
        width: 17rem;
    } 
    h2{
        width:100%;
        text-align: center;
        color: aliceblue;
        font-size: 40px;
        
        
    } 
    .subtitle{
        font-size:30px;
    
        
    } 
    .para{
        width: 30rem;
    }
      .section2{
        height: 130vh;
    }       
   
}
@media only screen and (max-width:360px){
    h2{
        width:100%;
        text-align: center;
        color: aliceblue;
        font-size: 30px;
        
        
    } 
    .subtitle{
        font-size:25px;
    
        
    } 
    .button1{
        text-align: center;
        align-items: center;
        left: 34%;
        font-size: 17px;
        
    }
}
@media only screen and (max-width:360px){
    h2{
        width:100%;
        text-align: center;
        color: aliceblue;
        font-size: 25px;
        
        
    } 
    .subtitle{
        font-size:20px;
    
        
    } 
    .button1{
        text-align: center;
        align-items: center;
        left: 30%;
        font-size: 15px;
        
    }
    .letsdiscover{
        size: 10%;
    }
}